    
<header class="site-header sticky-top">

    <div class="
      d-flex
      flex-column
      flex-md-row
      align-items-center
   px-md-2
      
  
      shadow-sm
    ">
    <a class="py-2" href="#" aria-label="Product">
      <img class="" src="../assets/logo.png" alt="" height="60" width="60">
      </a>
      <h5 class="my-0 me-md-auto fw-normal">Proxxie</h5>
      <nav class="my-2 my-md-0 me-md-3">
        <!-- <a class="p-2 text-white" href="#">Élèves</a>
        <a class="p-2 text-white" href="#">Parents</a>
        <a class="p-2 text-white" href="#">RH</a>
        <a class="p-2 text-white" href="#">École</a> -->
      </nav>
      <a class="btn btn-outline-primary mx-2" href="#">Sign up</a>
      <a class="btn btn-outline-primary" href="#">Login</a>
      //router link 
        <a class="btn btn-outline-primary" routerLink="/login">Login</a>
        
  
      </div>
    <!-- <nav class="container d-flex flex-column flex-md-row justify-content-between">
  
      <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    </nav> -->
  </header>